<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Book list</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous"
	th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	th:href="@{https://use.fontawesome.com/releases/v5.4.1/css/all.css}" />
</head>

<body>
	<div th:switch="${books}">
		<p>
			<a href="/books/newbook" class="btn btn-primary"><i
				class="fas fa-plus-square ml-2"> Add Book</i></a>
		</p>

		<div>
			<h2 th:case="null">No Books yet!</h2>
			<div th:case="*">
				<table class="table table-dark table-hover table-bordered table-responsive table-striped">
					<thead>
						<tr>
							<th>Title</th>
							<th>Author</th>
							<th>Year</th>
							<th>ISBN</th>
							<th>Price</th>
							<th />
							<th />
						</tr>
					</thead>
					<tbody>
						<tr th:each="book : ${books}">
							<td th:text="${book.title}"></td>
							<td th:text="${book.author}"></td>
							<td th:text="${book.year}"></td>
							<td th:text="${book.isbn}"></td>
							<td th:text="${book.price}"></td>
							<td><a th:href="@{/books/edit/{id}(id=${book.id})}"
								class="btn btn-success"><i class="fas fa-pen ml-2"></i></a></td>
							<td><a th:href="@{/books/delete/{id}(id=${book.id})}"
								class="btn btn-danger"><i class="fas fa-trash-alt ml-2"></i></a></td>

						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</html>